<p>

  <strong>タイトル:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @question.content %>
</p>
<p>
  <strong>タグ:</strong>
  <% @question.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>

<% if current_user == @question.user %>
<%= link_to '削除', @question, method: :delete, data: {confirm: '本当に削除しますか？'} %>
<% end %>
<p>
  <strong>コメント一覧</strong>
</p>


<%= render 'comments/form' %> 