<p>

  <strong>タイトル:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @question.content %>
</p>
<p>
  <strong>タグ:</strong>
  <% @question.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>

<p>
  <strong>コメント一覧</strong>
  <%= @comment.content %>
</p>


<%= render 'comments/form' %> 