<% @comments.each do |comment| %>
<% if @question.id == comment.question_id %>
<div class="comment-box">
    <% if comment.user.image? %>
    <div class="w-16 h-16 rounded-full">
    <%= link_to (image_tag comment.user.image.thumb.to_s),user_path(comment.user.id) %>
    <% else %>
    <%= link_to (image_tag "default.png",class: "q-user-image"), user_path(comment.user.id), method: :get,  alt:"ユーザーアイコン" %>
    <% end %>
    </div>
    <%= comment.user.name %>
    <%= comment.content %>
    <%= time_ago_in_words(comment.created_at) %>前
        <% if logged_in? %>
        <%= render partial:'goods/good',locals:{comment:comment} %>
        <% if @question.best_answer %>
        <% if comment.best_answer %>
        <div>ベストアンサーです</div>
        <% end %>
        <% else %>
        <% if @question.user_id == current_user.id %>
        <%= button_to "ベストアンサー",comment_best_answers_path(comment),method: :post,data: {confirm: "この回答をベストアンサーにしますか？（一度決めたら変更できません）"} %>
        <% end %>
        <% end %>
</div>
<% end %>
<% end %>
<% end %>