
<div class = "target"><%= flash[:notice] %></div>
<%= form_tag(search_path, :method => 'get') do %>
<%= text_field_tag :search %>
<%= submit_tag '検索', :name => nil %>
<% end %>

<h2>タグから検索</h2>
<div id = 'box'></div>
<ul class="tags-frame">
  <% @tags.each do |tag| %>
    <li class="btn-tag"><%= tag.name %></li>
  <% end %>
</ul>

<h2>新着質問</h2>
<%= render 'questions/question' %>
<%= paginate @questions %>

<%= javascript_pack_tag 'application_pages/home' %>
