    <header class="navbar navbar-fixed-top bg-success">
      <div class="container">
        <%= link_to "TEC Q", root_path, id: "logo"  %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "質問する", questions_new_path %></li>
            
            <% if logged_in? %>
            <li><%= link_to "マイページ", current_user %></li>
            <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
            <% else %>
            <li><%= link_to "登録",   signup_path %></li>
            <li><%= link_to "ログイン",  login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>