<!DOCTYPE html>
<html>

<head>
  <title>engidoor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" %>


  <%= javascript_pack_tag 'application',
                               'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">


  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>

<body>
  <%= render 'layouts/header' %>
  <%= javascript_pack_tag 'hello_vue' %>
 




  <div class="container">
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>

</html>
